.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: .45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(1px);
}

.slide {
    width: 75px;
    height: 15px;
    border: 8px solid rgba($color: #1c615b, $alpha: .20);
    
}

.slider {
        width: 20px;
        height: 15px;
        border: 8px solid rgba($color: #00ccff, $alpha: .20);
        animation: move 0.35s linear infinite;
        animation-direction: alternate;
}

@keyframes move {
    from {transform: translate(-10px, -8px);}
    to {transform: translate(48px, -8px);}
}