.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: .45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(1px);
}

.spinner {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 8px solid rgba($color: #507c15, $alpha: .20);
    border-top-color: rgba($color: #b1ff4a, $alpha: .20);
    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}